USE [QuanLyRapPhim_K235480106060]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateTicketPrice]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateTicketPrice] (@customerId INT, @basePrice DECIMAL(10, 2))
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @finalPrice DECIMAL(10, 2), @points INT;
    SELECT @points = DiemTichLuy FROM KhachHang WHERE CustomerID = @customerId;
    SET @finalPrice = CASE 
        WHEN @points >= 500 THEN @basePrice * 0.90
        WHEN @points >= 100 THEN @basePrice * 0.95
        ELSE @basePrice
    END;
    RETURN @finalPrice;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerAnalytics]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetCustomerAnalytics] ()
RETURNS @AnalyticsTable TABLE (
    CustomerID INT,
    HoTen NVARCHAR(100),
    TotalTickets INT,
    Points INT,
    Classification NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @AnalyticsTable
    SELECT 
        k.CustomerID, 
        k.HoTen, 
        COUNT(v.TicketID), 
        k.DiemTichLuy,
        N'Chưa xác định'
    FROM KhachHang k
    LEFT JOIN VeXemPhim v ON k.CustomerID = v.CustomerID
    GROUP BY k.CustomerID, k.HoTen, k.DiemTichLuy;

    UPDATE @AnalyticsTable
    SET Classification = CASE 
        WHEN Points >= 500 AND TotalTickets >= 5 THEN N'Khách hàng VIP'
        WHEN Points >= 100 OR TotalTickets >= 2 THEN N'Khách hàng Thân thiết'
        ELSE N'Khách hàng Tiềm năng'
    END;

    RETURN;
END;
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](200) NOT NULL,
	[TheLoai] [nvarchar](50) NULL,
	[DoTuoiQuyDinh] [int] NULL,
	[ThoiLuong] [int] NULL,
	[GiaVeCoBan] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMoviesByAge]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMoviesByAge] (@ageLimit INT)
RETURNS TABLE
AS
RETURN (
    SELECT MovieID, TenPhim, TheLoai, ThoiLuong 
    FROM Phim 
    WHERE DoTuoiQuyDinh = @ageLimit
);
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](100) NULL,
	[DiemTichLuy] [int] NULL,
	[HangThanhVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhachHang_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeXemPhim]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeXemPhim](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[NgayBan] [datetime] NULL,
	[SuatChieu] [datetime] NOT NULL,
	[GiaThanhToan] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('Standard') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [DoTuoiQuyDinh]
GO
ALTER TABLE [dbo].[VeXemPhim] ADD  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[VeXemPhim]  WITH CHECK ADD  CONSTRAINT [FK_Ve_KhachHang] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[KhachHang] ([CustomerID])
GO
ALTER TABLE [dbo].[VeXemPhim] CHECK CONSTRAINT [FK_Ve_KhachHang]
GO
ALTER TABLE [dbo].[VeXemPhim]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Phim] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Phim] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VeXemPhim] CHECK CONSTRAINT [FK_Ve_Phim]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_Diem] CHECK  (([DiemTichLuy]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_Diem]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [CK_Phim_DoTuoi] CHECK  (([DoTuoiQuyDinh]>=(0)))
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [CK_Phim_DoTuoi]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [CK_Phim_GiaVe] CHECK  (([GiaVeCoBan]>(0)))
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [CK_Phim_GiaVe]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [CK_Phim_ThoiLuong] CHECK  (([ThoiLuong]>(0)))
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [CK_Phim_ThoiLuong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerHistory]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCustomerHistory]
    @customerId INT
AS
BEGIN
    SELECT 
        v.TicketID,
        k.HoTen,
        p.TenPhim,
        p.TheLoai,
        v.SuatChieu,
        v.GiaThanhToan
    FROM VeXemPhim v
    JOIN KhachHang k ON v.CustomerID = k.CustomerID
    JOIN Phim p ON v.MovieID = p.MovieID
    WHERE k.CustomerID = @customerId
    ORDER BY v.SuatChieu DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerTotalSpent]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCustomerTotalSpent]
    @customerId INT,
    @totalSpent DECIMAL(10, 2) OUTPUT
AS
BEGIN
    SELECT @totalSpent = SUM(GiaThanhToan)
    FROM VeXemPhim
    WHERE CustomerID = @customerId;

    IF @totalSpent IS NULL 
        SET @totalSpent = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMovie]    Script Date: 4/30/2026 8:39:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertMovie]
    @tenPhim NVARCHAR(200),
    @theLoai NVARCHAR(50),
    @doTuoi INT,
    @thoiLuong INT,
    @giaVe DECIMAL(10, 2)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Phim WHERE TenPhim = @tenPhim)
    BEGIN
        PRINT N'Loi: Ten phim da ton tai!';
        RETURN;
    END

    IF @thoiLuong <= 60
    BEGIN
        PRINT N'Loi: Thoi luong phai tren 60 phut!';
        RETURN;
    END

    INSERT INTO Phim (TenPhim, TheLoai, DoTuoiQuyDinh, ThoiLuong, GiaVeCoBan)
    VALUES (@tenPhim, @theLoai, @doTuoi, @thoiLuong, @giaVe);
    
    PRINT N'Them phim thanh cong!';
END;
GO
